sphinx==1.8
sphinx_rtd_theme
sphinx-autodoc-typehints
numpy
scipy
pandas
pyyaml>=5.1
schema
plams@git+https://github.com/SCM-NV/PLAMS@master
qmflows@git+https://github.com/SCM-NV/qmflows@master
data-CAT@git+https://github.com/nlesc-nano/data-CAT@master
nano-CAT@git+https://github.com/nlesc-nano/nano-CAT@master
